[Desktop Entry]
Name=Languages
Name[tr]=Diller
Comment=Change the Puresteel system language
Comment[tr]=Puresteel sistem dilini değiştir
Exec=mintlocale
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=Settings;Qt;KDE;
OnlyShowIn=KDE;
Keywords=language;locale;region;translation;dil;bölge;
