[Desktop Entry]
Type=Application
Name=Languages
Name[tr]=Diller
Comment=Change the Puresteel system language
Comment[tr]=Puresteel sistem dilini değiştir
Exec=mintlocale
Icon=preferences-desktop-locale
Terminal=false
Categories=Settings;System;
OnlyShowIn=KDE;
Keywords=language;locale;region;translation;dil;bölge;
