[Desktop Entry]
Type=Application
Name=Welcome to Puresteel
Name[tr]=Puresteel'e Hoş Geldin
Comment=Open Puresteel tools and documentation
Comment[tr]=Puresteel araçlarını ve belgelerini aç
Exec=puresteel-welcome
Icon=puresteel-logo
Categories=System;Settings;
Terminal=false
