[Desktop Entry]
Type=Application
Name=Puresteel Software Profile
Name[tr]=Puresteel Yazılım Profili
Comment=Select and install Creator, Gaming or Developer software
Comment[tr]=İçerik üretimi, oyun veya geliştirici yazılımlarını seçip kurun
Exec=konsole --hold -e /bin/sh /usr/local/bin/puresteel-profile-menu
Terminal=false
Icon=system-software-install
Categories=System;Settings;
