[Desktop Entry]
Type=Application
Name=Puresteel Update Notifier
Exec=/usr/local/bin/puresteel-update-notifier
NoDisplay=true
X-KDE-autostart-phase=2
OnlyShowIn=KDE;
