[Desktop Entry]
Type=Application
Name=Puresteel First Run
Name[tr]=Puresteel İlk Ayarlar
Comment=Finish setting up Puresteel Plasma
Comment[tr]=Puresteel Plasma ilk ayarlarını tamamla
Exec=/usr/local/bin/puresteel-first-run
Icon=puresteel-installer
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
Terminal=false
